{% extends 'base.html' %}
{% from 'form.html' import render_form with context %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2>Login</h2>
                <form method="post">
                    <input type='hidden' name='csrfmiddlewaretoken' value={{ csrf_token }}>
                    {{ render_form(form) }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}